.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




/*
CSS added for bootstrap table

Start
*/



tr.react-table-row
{border-top:1px solid #ddd;
}

.react-table-row > td
{
}

.table-header
{   font-weight: normal;
    text-align: left;
    font-size: 14px;
    text-overflow: ellipsis;
    color: rgb(246, 139, 33);
    position: relative;
    background-color: inherit;
}

.table-body
{
    text-align: left;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: inherit;
}

.react-bs-table-container
{
  color:black;
}

.col-xs-6.col-sm-6.col-md-6.col-lg-8
{
    position: absolute;
    bottom: -60px;
}

.page-link
{
  color:black
}


.col-md-6
{   position: fixed;
    display: flex !important;
    justify-content: space-around;
    width: calc(100% - 85px);
    bottom:75px;
}


/*
End 

CSS added for bootstrap table
*/

/* bootstrap existing codes */
.react-bs-table .react-bs-container-header .sort-column,
td.react-bs-table-expand-cell {
    cursor: pointer
}
.react-bs-table-container .react-bs-table-search-form {
    margin-bottom: 0
}
.react-bs-table table {
    margin-bottom: 0;
    table-layout: fixed
}
.react-bs-table table td,
.react-bs-table table th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.react-bs-table-pagination {
    margin: 10px
}
.react-bs-table-tool-bar {
    margin: 10px 10px 0
}
.react-bs-container-header {
    overflow: hidden;
    width: 100%;
    height:40px;
}
.react-bs-container-body {
    overflow: auto;
    width: 100%
}
.react-bootstrap-table-page-btns-ul {
    float: right;
    margin-top: 0
}
.react-bs-table .table-bordered {
    border: 0;
    outline: 0!important
}
.react-bs-table .table-bordered>thead>tr>td,
.react-bs-table .table-bordered>thead>tr>th {
    border-bottom-width: 2px
}
.react-bs-table .table-bordered>tbody>tr>td {
    outline: 0!important
}
.react-bs-table .table-bordered>tbody>tr>td.default-focus-cell {
    outline: #6495ed solid 3px!important;
    outline-offset: -1px
}
.react-bs-table .table-bordered>tfoot>tr>td,
.react-bs-table .table-bordered>tfoot>tr>th {
    border-top-width: 2px;
    border-bottom-width: 0
}
.react-bs-table .table-bordered>tbody>tr>td:first-child,
.react-bs-table .table-bordered>tbody>tr>th:first-child,
.react-bs-table .table-bordered>tfoot>tr>td:first-child,
.react-bs-table .table-bordered>tfoot>tr>th:first-child,
.react-bs-table .table-bordered>thead>tr>td:first-child,
.react-bs-table .table-bordered>thead>tr>th:first-child {
    border-left-width: 0
}
.react-bs-table .table-bordered>tbody>tr>td:last-child,
.react-bs-table .table-bordered>tbody>tr>th:last-child,
.react-bs-table .table-bordered>tfoot>tr>td:last-child,
.react-bs-table .table-bordered>tfoot>tr>th:last-child,
.react-bs-table .table-bordered>thead>tr>td:last-child,
.react-bs-table .table-bordered>thead>tr>th:last-child {
    border-right-width: 0
}
.react-bs-table .table-bordered>thead>tr:first-child>td,
.react-bs-table .table-bordered>thead>tr:first-child>th {
    border-top-width: 0
}
.react-bs-table .table-bordered>tfoot>tr:last-child>td,
.react-bs-table .table-bordered>tfoot>tr:last-child>th {
    border-bottom-width: 0
}
.react-bs-table .react-bs-container-header>table>thead>tr>th {
    vertical-align: middle
}
.react-bs-table .react-bs-container-header>table>thead>tr>th .filter {
    font-weight: 400
}
.react-bs-table .react-bs-container-header>table>thead>tr>th .filter::-webkit-input-placeholder,
.react-bs-table .react-bs-container-header>table>thead>tr>th .number-filter-input::-webkit-input-placeholder,
.react-bs-table .react-bs-container-header>table>thead>tr>th .select-filter option[value=''],
.react-bs-table .react-bs-container-header>table>thead>tr>th .select-filter.placeholder-selected {
    color: #d3d3d3;
    font-style: italic
}
.react-bs-table .react-bs-container-header>table>thead>tr>th .select-filter.placeholder-selected option:not([value='']) {
    color: initial;
    font-style: initial
}
.react-bs-table .react-bs-container-header>table>thead>tr>th .date-filter,
.react-bs-table .react-bs-container-header>table>thead>tr>th .number-filter {
    display: flex
}
.react-bs-table .react-bs-container-header>table>thead>tr>th .date-filter-input,
.react-bs-table .react-bs-container-header>table>thead>tr>th .number-filter-input {
    margin-left: 5px;
    float: left;
    width: calc(100% - 67px - 5px)
}
.react-bs-table .react-bs-container-header>table>thead>tr>th .date-filter-comparator,
.react-bs-table .react-bs-container-header>table>thead>tr>th .number-filter-comparator {
    width: 67px;
    float: left
}
.react-bs-container .textarea-save-btn {
    position: absolute;
    z-index: 100;
    right: 0;
    top: -21px
}
.react-bs-table-no-data {
    text-align: center
}

.react-bs-table-container table{
    background-color: transparent
}

.react-bs-table-container caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left
}
.react-bs-table-container th {
    text-align: left
}

.react-bs-table-container .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.react-bs-table-container table {
    border-spacing: 0;
    border-collapse: collapse
}

.react-bs-table-container td, th {
    padding: 0
}

.react-bs-table-container
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 12px;
    vertical-align: top;
  
}

.react-bs-table-container
.table>thead>tr>th {
    vertical-align: bottom;
 
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    border-top: 0
}

.react-bs-table-container
.table>tbody+tbody {
   
}

.react-bs-table-container
.table .table {
    background-color: #fff
}

.react-bs-table-container
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 5px
}

.react-bs-table-container
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.react-bs-table-container
.table-hover>tbody>tr:hover {
    background-color: #f5f5f5
}

.react-bs-table-container
table col[class*=col-] {
    position: static;
    display: table-column;
    float: none
}

.react-bs-table-container
table td[class*=col-],
table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none
}

.react-bs-table-container
.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #f5f5f5
}

.react-bs-table-container
.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr.active:hover>th,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover {
    background-color: #e8e8e8
}

.react-bs-table-container
.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
    background-color: #dff0d8
}

.react-bs-table-container
.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr.success:hover>th,
.table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
    background-color: #d0e9c6
}

.react-bs-table-container
.table>tbody>tr.info>td,
.table>tbody>tr.info>th,
.table>tbody>tr>td.info,
.table>tbody>tr>th.info,
.table>tfoot>tr.info>td,
.table>tfoot>tr.info>th,
.table>tfoot>tr>td.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>thead>tr.info>th,
.table>thead>tr>td.info,
.table>thead>tr>th.info {
    background-color: #d9edf7
}

.react-bs-table-container
.table-hover>tbody>tr.info:hover>td,
.table-hover>tbody>tr.info:hover>th,
.table-hover>tbody>tr:hover>.info,
.table-hover>tbody>tr>td.info:hover,
.table-hover>tbody>tr>th.info:hover {
    background-color: #c4e3f3
}

.react-bs-table-container
.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
    background-color: #fcf8e3
}

.react-bs-table-container
.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr.warning:hover>th,
.table-hover>tbody>tr:hover>.warning,
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover {
    background-color: #faf2cc
}

.react-bs-table-container
.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
    background-color: #f2dede
}

.react-bs-table-container
.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr.danger:hover>th,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover {
    background-color: #ebcccc
}

.react-bs-table-container
.table-responsive {
    min-height: .01%;
    overflow-x: auto
}

.react-bs-table-container
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.react-bs-table-container
.pagination>li {
    display: inline
}

.react-bs-table-container
.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #f68b1f;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.react-bs-table-container
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.react-bs-table-container
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.react-bs-table-container
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #f68b1f;
    background-color: #eee;
    border-color: #ddd
}

.react-bs-table-container
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f68b1f;
    border-color: #f68b1f
}

.react-bs-table-container
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.react-bs-table-container
.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.react-bs-table-container
.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.react-bs-table-container
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.react-bs-table-container
.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.react-bs-table-container
.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.react-bs-table-container
.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.react-bs-table-container
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none
}

.react-bs-table-container
.pager li {
    display: inline
}

.react-bs-table-container
.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px
}

.react-bs-table-container
.pager li>a:focus,
.pager li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.react-bs-table-container
.pager .next>a,
.pager .next>span {
    float: right
}

.react-bs-table-container
.pager .previous>a,
.pager .previous>span {
    float: left
}

.react-bs-table-container
.pager .disabled>a,
.pager .disabled>a:focus,
.pager .disabled>a:hover,
.pager .disabled>span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff
}
/*# sourceMappingURL=bootstrap.min.css.map */




.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}